<div class="container-fluid p-5">
    <div class="row">
        <div class="col">
            <div class="jumbotron">
                <h1 class="display-4">Welcome <%= nama %>
                </h1>
                <hr class="my-4">
            </div>
        </div>
    </div>
</div>